.DS_Store
*~
*.*~
\#*
.\#*
.local/
.extension/
*.cache*
*.log
/modules/private
test/.local*/
test/result

# emacs tempfiles that shouldn't be there
.dap-breakpoints
.org-id-locations
.tern-port
.yas-compiled-snippets.el
eclipse*
auto-save-list/
cask/
ede-projects.el
elpa/
eln-cache/
network-security.data
places
semanticdb
server/
smex-items
tramp
transient/
var/
custom/*
straight/
workspace/
url/
eshell/
games/

# compiled files
*.elc
*.lib
*.fas
*.dat
*.eld
